Cython 0.29.23
matplotlib 3.3.4
numpy 1.19.5
open3d 0.12.0
opencv-python 4.5.2.52
pandas 1.1.5
Pillow 8.2.0
pyquaternion 0.9.9
pyransac3d 0.5.1
pyrsistent 0.17.3
python-pcl 0.3.0a1
qrcode 7.3
scikit-learn 0.24.2
scipy 1.5.4
Twisted 21.7.0
wheel 0.36.2
wstool 0.1.17
pyobb 1.0.2